<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flask Auth</title>

		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/style.css')}}" />
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/tailwind.css')}}" />
	</head>
	<body class="h-screen pt-14 bg-neutral-100">
		<header class="bg-gray-300 h-14 top-0 absolute w-full">
			<nav
				class="flex justify-between items-center h-full max-w-screen-2xl text-lg px-6 mx-auto">
				<a href="{{url_for('main.index')}}" class="font-semibold">Flask-Auth</a>
				<div class="flex gap-10">
					<a
						href="{{ url_for('main.index') }}"
						class="font-semibold opacity-60 hover:underline hover:opacity-100">
						Home
					</a>

					{% if not current_user.is_authenticated %}
					<a
						href="{{ url_for('auth.login') }}"
						class="font-semibold opacity-60 hover:underline hover:opacity-100">
						Login
					</a>
					<a
						href="{{ url_for('auth.signup') }}"
						class="font-semibold opacity-60 hover:underline hover:opacity-100">
						Sign Up
					</a>
					{% endif %} {% if current_user.is_authenticated %}

					<a
						href="{{ url_for('auth.logout') }}"
						class="font-semibold opacity-60 hover:underline hover:opacity-100">
						Logout
					</a>

					{% endif %}
				</div>
			</nav>
		</header>
		<main class="p-5">{% block content %} {% endblock %}</main>
	</body>
</html>
